@font-face {
    font-family: 'Rubik-Regular';
    src: url(../policies/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik-Light';
    src: url(../policies/Rubik/Rubik-Light.ttf);
}

@mixin containers {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    
    
}

.data {
    max-width: 200px;
    font-size: 56px;
    font-family: 'Rubik-Light',sans-serif;
}
.last-data {
    max-width: 200px;
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 15px;
    color: #BBC0FF;
}

.invisible {
    visibility: collapse;
}


body {
    min-height: 100vh;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: #0D1323;
    background-repeat: no-repeat;
}

.app {
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 18px;
    width: 1100px;
    color: white;
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-template-rows: 285px 285px;
    grid-template-areas:
    "user work play study"
    "user exercise social selfcare"
    ;
    > div {
        max-width: 255px;
        width: 225px;
        margin: 30px;
        background-color: #1C204B;
        transition: background-color 400ms; 
        &:hover {
            background-color: lighten($color: #1C204B, $amount: 15%);
            cursor: pointer;
        }
    }
}


.user-container {
    border-radius: 10px;
    grid-area: user;
}

.username-container {
    border-radius: 10px;
    background-color: #5747EA;
    height: 324px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    .report {
        padding-top: 40px;
    }
    .username {
        font-size: 40px;
        font-family: 'Rubik-Light', sans-serif;
    }
    img {
        border: 2px solid white;
        border-radius: 300px;
    }
}

.summary-container {
    grid-area: summary;
    ul {
        list-style: none;
        color: #7078C9;
        li {
            max-width: 5px;
            padding-bottom: 15px;
            a {
                color: #7078C9;
                transition: color 400ms;
                text-decoration: none;
                &:hover {
                    color: white;
                }
                &:active {
                    color: white;
                }
                &:focus {
                    color: white;
                }
            }
        }
    }
    
}

.icon-banner {
    z-index: -1;
    position: absolute;
    width: 255px;
    height: 45px;
    max-height: 45px;
    top: -35px;
    right: 0px;
    border-radius: 10px 10px 0px 0px;
}

.ellipsis {
    position: relative;
    left: 175px;
    bottom: 7%;
    width: 24px;
    height: 24px;

}

.activity-title {
    margin-top: 20px;
    max-width: 200px;
}

.daily {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    position: relative;
    top: 39px;
}

.weekly {
    position: relative;
    bottom: 45px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.monthly {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    position: relative;
    bottom: 129px;
}


.work-container {
    z-index: 1;
    position: relative;
    top: 30px;
    @include containers;
    height: 199px;
    grid-area: work;
    display: flex;
    flex-direction: column;
    .icon-banner {
        z-index: 1;
        position: absolute;
        width: 255px;
        height: 70px;
        background-color: #FF8B64;
        background-image: url(../images/icon-work.svg);
        background-repeat: no-repeat;
        background-position: top right;
        transform-origin: left bottom;
        transform: rotate(0deg);
        transition: transform 600ms ease-in-out;
    }
    &:hover > .icon-banner {
        transform: rotate(-15deg);
    }
}

.play-container {
    position: relative;
    top: 30px;
    height: 199px;
    @include containers;
    grid-area: play;
    .icon-banner {
        z-index: 1;
        position: absolute;
        width: 255px;
        height: 70px;
        background-color: #55C2E6;
        background-image: url(../images/icon-play.svg);
        background-repeat: no-repeat;
        background-position: top right;
        transform-origin: left bottom;
        transform: rotate(0deg);
        transition: transform 600ms ease-in-out;
    }
    &:hover > .icon-banner {
        transform: rotate(-15deg);
    }
}

.study-container {
    position: relative;
    top: 30px;
    height: 199px;
    @include containers;
    grid-area: study;
    .icon-banner {
        z-index: 1;
        position: absolute;
        width: 255px;
        height: 70px;
        background-color: #FF5E7D;
        background-image: url(../images/icon-study.svg);
        background-repeat: no-repeat;
        background-position: top right;
        transform-origin: left bottom;
        transform: rotate(0deg);
        transition: transform 600ms ease-in-out;
    }
    &:hover > .icon-banner {
        transform: rotate(-15deg);
    }
}

.exercise-container {
    position: relative;
    top: 25px;
    height: 199px;
    @include containers;
    grid-area: exercise;
    .icon-banner {
        z-index: 1;
        position: absolute;
        width: 255px;
        height: 70px;
        background-color: #4BCF82;
        background-image: url(../images/icon-exercise.svg);
        background-repeat: no-repeat;
        background-position: top right;
        transform-origin: left bottom;
        transform: rotate(0deg);
        transition: transform 600ms ease-in-out;
    }
    &:hover > .icon-banner {
        transform: rotate(-15deg);
    }
}

.social-container {
    position: relative;
    top: 25px;
    height: 199px;
    @include containers;
    grid-area: social;
    .icon-banner {
        z-index: 1;
        position: absolute;
        width: 255px;
        height: 70px;
        background-color: #7335D2;
        background-image: url(../images/icon-social.svg);
        background-repeat: no-repeat;
        background-position: top right;
        transform-origin: left bottom;
        transform: rotate(0deg);
        transition: transform 600ms ease-in-out;
    }
    &:hover > .icon-banner {
        transform: rotate(-15deg);
    }
}

.selfcare-container {
    position: relative;
    top: 25px;
    height: 199px;
    @include containers;
    grid-area: selfcare;
    .icon-banner {
        z-index: 1;
        position: absolute;
        width: 255px;
        height: 70px;
        background-color: #F1C75B;
        background-image: url(../images/icon-self-care.svg);
        background-repeat: no-repeat;
        background-position: top right;
        transform-origin: left bottom;
        transform: rotate(0deg);
        transition: transform 600ms ease-in-out;
    }
    &:hover > .icon-banner {
        transform: rotate(-15deg);
    }
}



@media (max-width: 1100px) {

    .app {
        margin-left: 160px;
        font-family: 'Rubik-Regular', sans-serif;
        font-size: 18px;
        width: 900px;
        color: white;
        display: grid;
        grid-template-columns: 205px 205px 205px 205px;
        grid-template-rows: 285px 285px;
        grid-template-areas:
        "user work play study"
        "user exercise social selfcare"
        ;
        > div {
            max-width: 165px;
            width: 165px;
            margin: 30px;
            background: #1C204B;
            
        }
    }

    
    .icon-banner {
        position: absolute;
        max-width: 195px;
        height: 45px;
        max-height: 45px;
        top: -35px;
        right: 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .ellipsis {
    position: relative;
    left: 120px;
    bottom: 7%;
    width: 24px;
    height: 24;
    }

    .username-container {
        border-radius: 10px;
        background-color: #5747EA;
        height: 324px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 30px;
        .report {
            padding-top: 40px;
        }
        .username {
            font-size: 36px;
            font-family: 'Rubik-Light', sans-serif;
        }
        img {
            border: 2px solid white;
            border-radius: 300px;
        }
    }
    
    .summary-container {
        grid-area: summary;
        ul {
            list-style: none;
            color: #7078C9;
            li {
                max-width: 5px;
                padding-bottom: 15px;
                a {
                    color: #7078C9;
                    text-decoration: none;
                    &:hover {
                        color: white;
                    }
                    &:active {
                        color: white;
                    }
                    &:focus {
                        color: white;
                    }
                }
            }
        }
        
    }
}






@media (max-width: 767px) {
    .app {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-left: 0px;
        font-family: 'Rubik-Regular', sans-serif;
        font-size: 18px;
        color: white;
        max-width: 320px;
        > div {
                max-width: 300px;
                width: 300px;
                max-height: 160px;
                margin: 30px;
                background: #1C204B;
             }

    }

    .daily {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        max-width: 200px;
        position: relative;
        top: 13px;
    }
    
    .weekly {
        max-width: 200px;
        position: relative;
        bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .monthly {
        max-width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 200px;
        position: relative;
        bottom: 73px;
    }



    .data {
        max-width: 83px;
        font-size: 36px;
        font-family: 'Rubik-Light',sans-serif;
    }
    .last-data {
        max-width: 200px;
        min-width: 150px;
        font-family: 'Rubik-Regular', sans-serif;
        font-size: 15px;
        color: #BBC0FF;
        position: relative;
        left: 50px;
        top: 15px;
    }

    .icon-banner {
        z-index: -1;
        position: absolute;
        min-width: 330px;
        height: 45px;
        max-height: 45px;
        top: -35px;
        right: 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .ellipsis {
        position: relative;
        left: 250px;
        bottom: 9%;
        width: 24px;
        height: 24;
    }



    .user-container {
        border-radius: 10px;
        min-height: 203px;
        min-width: 330px;
    }
    
    .username-container {
        border-radius: 10px;
        background-color: #5747EA;
        height: 133px;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-top: 30px;
        .report {
            margin-top: 10px;
            font-size: 16px;
            padding-top: 0px;
            font-family: 'Rubik-Light',sans-serif;
        }
        .username {
            display: flex;
            flex-direction: row;
            font-size: 24px;
            font-family: 'Rubik-Light', sans-serif;
        }
        img {
            width: 60px;
            height: 60px;
            border: 2px solid white;
            border-radius: 300px;
        }
    }
    
    .summary-container {
        height: 0px;
        ul {
            font-size: 16px;
            position: relative;
            bottom: 5px;
            right: 18px;
            align-items: center;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #7078C9;
            li {
                max-width: 100px;
                a {
                    color: #7078C9;
                    text-decoration: none;
                    &:hover {
                        color: white;
                    }
                    &:active {
                        color: white;
                    }
                    &:focus {
                        color: white;
                    }
                }
            }
        }
        
    }
        
        
}










.attribution {
    color: white;
     font-size: 11px; 
     text-align: center; }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }
